<template>
	<div>
		<!-- <table>
		
	      <tr>
	        <th>Item</th>
	        <th>Nome</th>
	        <th>Seção</th>
	        <th>Função</th>
	        <th>Renumeração Legal Total</th>
	        <th>Descontos Legais</th>
	        <th>Líquido Disponível</th>
	      </tr>
	      <tr v-for="myObject in items">
	        <td v-for="(value, key, index) in myObject">
	        	{{ key }}
	        </td>
	      </tr>
	    </table>  -->
	    <!-- 
	    	ITEM	NOME	SECAO	FUNCAO	SALARIOBRUTO	DESCONTOS	SALARIOLIQUIDO
	    <p>Qtde: {{ items.length }}</p>
	    -->
	    
		<v-card>
			<v-card-title>
		      Servidores
		      <v-spacer></v-spacer>
		      <v-text-field
		        append-icon="search"
		        label="Servidor..."
		        single-line
		        hide-details
		        v-model="search"
		      ></v-text-field>
		    </v-card-title>
        	<v-card-text class="px-0">
				<v-data-table
      				v-bind:pagination.sync="pagination"
				    v-bind:headers="headers"
      				v-bind:search="search"
				    :items="items"
				    v-model="selected"
      				item-key="NOME"
				    select-all
				    hide-actions
				    class="elevation-1"
			    	>
			    	<template slot="headers" slot-scope="props">
				      <tr>
				        <th>
				          <v-checkbox
				            primary
				            hide-details
				            @click.native="toggleAll"
				            :input-value="props.all"
				            :indeterminate="props.indeterminate"
				          ></v-checkbox>
				        </th>
				        <th v-for="header in props.headers" :key="header.text"
				          :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
				          @click="changeSort(header.value)"
				        >
				          <v-icon>arrow_upward</v-icon>
				          {{ header.text }}
				        </th>
				      </tr>
				    </template>
				    <template slot="items" slot-scope="props">
				      	<tr :active="props.selected" @click="props.selected = !props.selected">
					        <td>
					          <v-checkbox
					            primary
					            hide-details
					            :input-value="props.selected"
					          ></v-checkbox>
					        </td>
					     	<td class="text-xs-right">{{ props.item.ITEM }}</td>
					      	<td class="text-xs-right">{{ props.item.NOME }}</td>
					      	<td class="text-xs-right">{{ props.item.SECAO }}</td>
					      	<td class="text-xs-right">{{ props.item.FUNCAO }}</td>
					      	<td class="text-xs-right">{{ props.item.SALARIOBRUTO }}</td>
					      	<td class="text-xs-right">{{ props.item.DESCONTOS }}</td>
					      	<td class="text-xs-right">{{ props.item.SALARIOLIQUIDO }}</td>
				      </tr>
				    </template>
		  		</v-data-table>		
		  		<br>
		  		<div class="text-xs-center pt-2">
      				<v-pagination v-model="pagination.page" :length="pages"></v-pagination>
			    </div>
		  		<br>
  			</v-card-text>
        </v-card>
  	</div>
</template>

<script>
	export default {

		props: ['items'],

		data()  {
			return {
				search: '',
        		
				pagination: {
          			sortBy: 'ITEM'
        		},
        		
        		selected: [],
				
				headers: [
	          // {
	          //   text: 'Dessert (100g serving)',
	          //   align: 'left',
	          //   sortable: false,
	          //   value: 'name'
	          // },
		          { text: 'Item', value: 'ITEM' },
		          { text: 'Nome', value: 'NOME' },
		          { text: 'Seção', value: 'SECAO' },
		          { text: 'Função', value: 'FUNCAO' },
		          { text: 'Renumeração Legal Total', value: 'SALARIOBRUTO' },
		          { text: 'Descontos Legais', value: 'DESCONTOS' },
		          { text: 'Líquido Disponível', value: 'SALARIOLIQUIDO' }
		        ],
			}
		},

		computed: {
		    pages () {
		        return this.pagination.rowsPerPage ? Math.ceil(this.items.totalItems / this.pagination.rowsPerPage) : 0
		    }
		},

		methods: {

		    toggleAll () {
			    if (this.selected.length) this.selected = []
			    else this.selected = this.items.slice()
		    },

		    changeSort (column) {
			    if (this.pagination.sortBy === column) {
			    	this.pagination.descending = !this.pagination.descending
			    } else {
			        this.pagination.sortBy = column
			        this.pagination.descending = false
			    }
		    }
	    }

	}
</script>

<style >
	
</style>