<template>
	<div>
		<!-- <v-container grid-list-md text-xs-center> -->
		<v-container fluid grid-list-md>
		    <v-layout row wrap>
		      <!-- <v-flex xs12>
		        <v-card dark color="primary">
		          <v-card-text class="px-0">12</v-card-text>
		        </v-card>
		      </v-flex>
		      <v-flex xs6 v-for="i in 2" :key="`6${i}`">
		        <v-card dark color="secondary">
		          <v-card-text class="px-0">6</v-card-text>
		        </v-card>
		      </v-flex>
		      <v-flex xs4 v-for="i in 3" :key="`4${i}`">
		        <v-card dark color="primary">
		          <v-card-text class="px-0">4</v-card-text>
		        </v-card>
		      </v-flex> -->
		      <v-flex xs4>
		        <!-- <v-card dark color="primary"> -->
		        <v-card style="height:100%;color: white;" color="orange darken-1">
		        	<v-card-title primary-title style="background-color:#F57C00">
			          <div>
			            <div class="headline">Estatísticas Gerais</div>
			            <!-- <span class="grey--text">Servidores</span> -->
			            <span >Servidores</span>
			          </div>
			        </v-card-title>
		          	<v-card-text class="px-0">
		          		<v-container fluid>
							<table width="100%">
								<tr>
									<td>Total Seções</td>
									<td align="right">{{ secoesTotalSalBruto.length }}</td>
								</tr>
								<tr>
									<td>Total Servidores</td>
									<td align="right">{{ items.length }}</td>
								</tr>
								<tr>
									<td>Total Sal. Bruto</td>
									<td align="right">{{ totalBruto.formatMoney(2, "R$ ", ".", ",") }}</td>
								</tr>
							</table>
						</v-container>
					</v-card-text>
					<!-- <v-card-actions>
			        	<v-btn flat color="orange">Share</v-btn>
			          	<v-btn flat color="orange">Explore</v-btn>
			        </v-card-actions> -->
		        </v-card>
		      </v-flex>
		      <v-flex xs4 >
		        <v-card style="height:100%;color: white;" color="green darken-1">
		        	<v-card-title primary-title style="background-color:#388E3C">
			          <div>
			            <div class="headline">Top</div>
			            <span>Ascendente/Descentende</span>
			          </div>
			        </v-card-title>
		          	<v-card-text class="px-0">
		          		<v-container fluid>
							<table width="100%">
								<tr>
									<td>Top</td>
									<td align="right" style="background-color:#66BB6A;">
										<input type="number" name="top" 
											required
											autofocus
											:min="1" 
											:max="secoesTotalSalBruto.length" 
											:step="1" 
											v-model="top">
									</td>
								</tr>
								<tr>
									<td>Total Servidores</td>
									<td align="right">{{ this.topTotalServidor }}</td>
								</tr>
								<tr>
									<td>Total Sal. Bruto</td>
									<td align="right">{{ topTotalSalBruto.formatMoney(2, "R$ ", ".", ",") }}</td>
								</tr>
							</table>
						</v-container>
		          	</v-card-text>
		          	<!-- <v-card-actions>
			        	<v-btn flat color="orange">Share</v-btn>
			          	<v-btn flat color="orange">Explore</v-btn>
			        </v-card-actions> -->
		        </v-card>
		      </v-flex>
		      <v-flex xs4 >
		        <v-card style="height:100%;color: white;" color="blue lighten-4">
		        	<v-card-title primary-title style="background-color:#1E88E5">
			          <div>
			            <div class="headline">Resumo Gráfico</div>
			            <span>Percentual Top ({{ top }})</span>
			          </div>
			        </v-card-title>
		          	<v-card-text class="px-0">
		          		<v-container fluid>
		          			<table width="100%" lenght="100%">
		          				<tr>
		          					<td class="text-xs-center title-blue">Seções</td>
		          					<td class="text-xs-center title-red">Servidores</td>
		          					<td class="text-xs-center title-green">Sal. Bruto</td>
		          				</tr>
		          				<tr>
		          					<td align="center">
										<v-progress-circular id="top"
											:value="percentualTopSecao"
											color="blue"
											:width="10"
											:size="70"
										>{{ percentualTopSecao.formatMoney(2, "", ".", ",")  }}%
										</v-progress-circular>
		          					</td>
		          					<td align="center">
										<v-progress-circular id="servidor"
											:value="percentualTopServidor"
											color="red"
											:width="10"
											:size="70"
										>{{ percentualTopServidor.formatMoney(2, "", ".", ",") }}%
										</v-progress-circular>
		          					</td>
		          					<td align="center">
										<v-progress-circular id="salario"
											:value="percentualTop"
											color="green"
											:width="10"
											:size="70"
										>{{ percentualTop.formatMoney(2, "", ".", ",") }}%
										</v-progress-circular>
		          					</td>
		          				</tr>
		          			</table>
						</v-container>
		          	</v-card-text>
		          	<!-- <v-card-actions>
			        	<v-btn flat color="orange">Share</v-btn>
			          	<v-btn flat color="orange">Explore</v-btn>
			        </v-card-actions> -->
		        </v-card>
		      </v-flex>
		      <v-flex xs12>
		        <v-card>
					<app-tab-secoes :items="itemsSecao" :top="top"></app-tab-secoes>
		          	<!-- <v-card-text class="px-0">12</v-card-text> -->
		        </v-card>
		      </v-flex>
		    </v-layout>
  		</v-container>  
		<!-- <h3>Gráficos</h3>
		<p></p>
		<br> -->
		<!-- <svg width="100" height="100">
  			<circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
		</svg> -->
		<br>

		<br>
		<!-- <app-commit-chart :pDados="itemsSecao"></app-commit-chart> -->
	</div>
</template>

<script>

	Number.prototype.formatMoney = function(places, symbol, thousand, decimal) {
    places = !isNaN(places = Math.abs(places)) ? places : 2;
    symbol = symbol !== undefined ? symbol : "$";
    thousand = thousand || ",";
    decimal = decimal || ".";
    var number = this, 
      negative = number < 0 ? "-" : "",
      i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
      j = (j = i.length) > 3 ? j % 3 : 0;
    return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
  };

//	import CommitChart from './CommitChart'
	import TabSecoes from './tabSecoes'

	export default {

		props: ['items'],

		data() {
			return {
				itemsSecao: [],
				secoes: [],
				secoesTotalSalBruto: [],
				secoesTotalServidor: [],
				funcoes: [],
				funcoesTotais: [],
				top: 5
			};
		},

		components: {
//			appCommitChart: CommitChart,
			appTabSecoes: TabSecoes
		},

		computed: {

			totalBruto: function() {

				var total = 0;
				//let val = this.secoesTotalSalBruto

				for (var i=0; i < this.secoesTotalSalBruto.length; i++) {
				//for (var i=0; i < val.length; i++) {
					total += this.secoesTotalSalBruto[i];
				}

				console.log('Computed....');
				console.log('TotalBruto: ' + total);

				return total;
				
			},

			topTotalSalBruto: function() {
				
				var total = 0;

				if (! this.itemsSecao.length > 0) {
					return total;
				}

				//console.log('--- Top Total Salario Bruto ---');
				//console.log('Top: ' + this.top);
				//console.log('ItemsSecao: ' + this.itemsSecao.length);
				//console.log('ItemsSecao: ' + this.itemsSecao[0].totalSalBruto);

				for (var i=0; i < this.top; i++) {
					//console.log(this.itemsSecao[i].totalSalBruto);
					total += parseFloat(this.itemsSecao[i].totalSalBruto,2);
				}

				//console.log('Total: ' + parseFloat(total,2));

				return total;
			},

			topTotalServidor: function() {
				
				var total = 0;

				if (! this.itemsSecao.length > 0) {
					return total;
				}

				//console.log('--- Top Total Salario Bruto ---');
				//console.log('Top: ' + this.top);
				//console.log('ItemsSecao: ' + this.itemsSecao.length);
				//console.log('ItemsSecao: ' + this.itemsSecao[0].totalSalBruto);

				for (var i=0; i < this.top; i++) {
					//console.log(this.itemsSecao[i].totalSalBruto);
					total += parseFloat(this.itemsSecao[i].qtdeServidor);
				}

				//console.log('Total: ' + parseFloat(total,2));

				return total;
			},

			percentualTop: function() {

				if (parseFloat(this.topTotalSalBruto,2) > 0) {
				    if (parseFloat(this.totalBruto,2) > 0) {
						return parseFloat( ( ( parseFloat(this.topTotalSalBruto,2) / parseFloat(this.totalBruto,2) ) * 100), 2);
					} else {
						return 0;
					}
				} else {
					return 0;
				}

				//return ( (this.topTotalSalBruto / this.totalBruto) * 100) ;
			},

			percentualTopServidor: function() {
				if (this.topTotalServidor > 0) {
					return ((this.topTotalServidor / this.items.length) * 100);
				} else {
					return 0;
				}
			},

			percentualTopSecao: function() {
				if ( (this.top > 0) && (this.secoesTotalSalBruto.length)) {
					return ( (this.top / this.secoesTotalSalBruto.length) * 100); 

				} else {
					return 0;
				}
			}

		},

		watch : {

			items: function() {
			
				//console.log('Montando....Inicio.');
				
				//console.log('Items: ' + this.items.length);

				var pos = -1;

				//console.log(this.items);
				
				let nomes = this.items.map((item) => { return item.SECAO })
									  .filter((elem, pos, arr) => arr.indexOf(elem) == pos);

				this.secoes = nomes;

				//console.log('Secoes: ' + this.secoes.length)

				var totalSalBruto = new Array;
				var totalServidor = new Array;
				var valor = 0.00;

				this.items.map((item) => { 

					pos = nomes.indexOf(item.SECAO);

					//console.log('Pos: ' + pos + ' Secao: ' + item.SECAO)

					if (pos >= 0) {

						valor = parseFloat(item.SALARIOBRUTO.toFixed(2));

						// ---- Total de Salario por Seção ----
						if (totalSalBruto[pos] == null) {
							totalSalBruto[pos] = valor; 
						} else {
							totalSalBruto[pos] += valor; 
						}
						// ---- totalSalBruto de Servidor por Secao	----
						if (totalServidor[pos] == null) {
							totalServidor[pos] = 1; 
						} else {
							totalServidor[pos] += 1; 
						}
					} else {
						console.log('Error: ' + item.SECAO);
					}

				});

				this.secoesTotalSalBruto = totalSalBruto;
				this.secoesTotalServidor = totalServidor;

				//console.log('*** Setando: ItemsSecao ***');

				let itSecao = [];

				for ( var i = 0; i < nomes.length; i++ ) {
					itSecao.push(
						{ 	secao: nomes[i],
							qtdeServidor: totalServidor[i],
							totalSalBruto: totalSalBruto[i]
						});
				}

				itSecao.sort(function(a, b) {
  					return +(a.secao > b.secao) || +(a.secao === b.secao) - 1;
  				})

				//console.log(itSecao)
				this.itemsSecao = itSecao;

				//console.log('ItemsSecao: ' + this.itemsSecao.length);

				//console.log('SecoesTotais: ' + this.secoesTotalSalBruto.length);
				//console.log('Totais: ' + totais);

				//console.log('Montando....Fim.');
			}
		},

	}
</script>

<style scoped>

	.title-blue {
		color: white;
		background-color: #2196F3	;
	}

	.title-red {
		color: white;
		background-color: red;
	}

	.title-green {
		color: white;
		background-color: green;
	}
</style>