<template>
	<div>
		<h2> Proposta 1</h2>	    
		<h3>Total Servidores: {{ qtdeServidores }}</h3>
		<h3> Valor Total Sal. Bruto: {{ vlTotalSalBruto.formatMoney(2, "R$ ", ".", ",") }}</h3>
		
			<p>Valor Percentual:</p>
			<input type="number" v-model="vlPercentual" min="0">
			<!-- <p>{{ this.items }}</p> -->

		<v-slider :label="ex1.label" v-model="vlPercentual" :color="ex1.color" thumb-label></v-slider>
		<v-text-field v-model="vlPercentual" type="number"></v-text-field>	

		<!--
		<v-slider :label="ex1.label" v-model="ex1.val" :color="ex1.color"></v-slider>
      	<v-slider :label="ex2.label" v-model="ex2.val" :track-color="ex2.color"></v-slider>
      	<v-slider :label="ex3.label" v-model="ex3.val" :thumb-color="ex3.color" thumb-label></v-slider>
		-->
		<template>
  			<v-container grid-list-md text-xs-center>
    			<v-layout row wrap>
      				<v-flex xs12>
        				<v-card dark color="primary">
          					<v-card-text class="px-0">12</v-card-text>
        				</v-card>
      				</v-flex>
					<!--
					<v-flex xs6 v-for="i in 2" :key="`6${i}`">
        				<v-card dark color="secondary">
          					<v-card-text class="px-0">6</v-card-text>
        				</v-card>
      				</v-flex>
					-->
					<v-flex xs6>
        				<v-card dark color="secondary">
          					<v-card-text class="px-0">6.1</v-card-text>
        				</v-card>
      				</v-flex>
					<v-flex xs6>
        				<v-card dark color="secondary">
          					<v-card-text class="px-0">6.2</v-card-text>
        				</v-card>
      				</v-flex>
				</v-layout>
				
			</v-container>
		</template>
	
  	</div>
</template>

<script>

	Number.prototype.formatMoney = function(places, symbol, thousand, decimal) {
		places = !isNaN(places = Math.abs(places)) ? places : 2;
		symbol = symbol !== undefined ? symbol : "$";
		thousand = thousand || ",";
		decimal = decimal || ".";
		var number = this, 
		negative = number < 0 ? "-" : "",
		i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
		j = (j = i.length) > 3 ? j % 3 : 0;
		return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
  	};


	export default {

		props: ['items'],

		data()  {
			return {
				vlPercentual: 10.0,
				vlAcrescimo: 0,
				ex1: { label: 'color', val: 25, color: 'orange darken-3' },
			}
		},

		computed: {

			vlTotalSalBruto: function() {

				var total = 0.00;

				for (var i=0; i < this.items.length; i++) {
					total += parseFloat(this.items[i].SALARIOBRUTO,2);
				}

				console.log('Computed....');
				console.log('TotalBruto: ' + total);

				return total;
				
			},

			qtdeServidores: function() {
				return this.items.length;
			}

		}

	}
</script>

<style scoped>
	input[type=number] {
    	background-color: #3CBC8D;
    	color: black;
	}
</style>