<template>
  <v-layout row>
    <!-- <v-flex xs12 sm6 offset-sm3> -->
    <v-flex style="width: 100%">
      <v-card>
        <v-toolbar color="cyan" dark>
          <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
          <v-toolbar-title>Menu</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <!-- <v-icon>search</v-icon> -->
            <v-icon>list</v-icon>
          </v-btn>
        </v-toolbar>
        <v-list two-line>
          <!-- <template v-for="item in items.slice(0, 6)"> -->
          <template v-for="item in items">
            <div @click="getSelectComponent(item)">
            <v-subheader v-if="item.header" v-text="item.header"></v-subheader>
            <v-divider v-else-if="item.divider" v-bind:inset="item.inset"></v-divider>
            <v-list-tile avatar v-else @click="">
              <v-list-tile-avatar>
              	<template v-if="item.action">
              		<v-icon color="blue darken-2">{{ item.action }}</v-icon>
              	</template>
              	<template v-else>
                	<img v-if="item.avatar" v-bind:src="item.avatar" />
              	</template> 	
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title">
                </v-list-tile-title>
                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            </div>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          { header: 'Serviços' },
          { avatar: '/static/doc-images/lists/1.jpg', action: 'account_circle',
          	 title: "Servidores", 
          	 subtitle: "<span class='grey--text text--darken-2'>Informações dos Servidores</span> — Tabelas",
             selectComponent: 'appListServidor' },
          { divider: true, inset: true },
          { avatar: '/static/doc-images/lists/2.jpg', action: 'equalizer', 
            title: 'Gráficos <span class="grey--text text--lighten-1">1</span>', 
            subtitle: "<span class='grey--text text--darken-2'>Estatísticas de Seções </span> — Seções",
            selectComponent: 'appListGrafico' },
          { divider: true, inset: true },
          { avatar: '/static/doc-images/lists/3.jpg', action: 'account_circle',
            title: 'Propostas', 
            subtitle: "Vai que dá certo.",
            selectComponent: 'appListPropostas'  },
          // { divider: true, inset: true },
          // { avatar: '/static/doc-images/lists/4.jpg', title: 'Birthday gift', subtitle: "<span class='grey--text text--darken-2'>Trevor Hansen</span> — Have any ideas about what we should get Heidi for her birthday?" },
          // { divider: true, inset: true },
          // { avatar: '/static/doc-images/lists/5.jpg', title: 'Recipe to try', subtitle: "<span class='grey--text text--darken-2'>Britta Holt</span> — We should eat this: Grate, Squash, Corn, and tomatillo Tacos." },
        ]
      }
    },

    methods: {
      getSelectComponent(item) {
        console.log(item.selectComponent);
        this.$emit('set-selec-component',item.selectComponent);
      }
    }

  }
</script>