<template>
  <div>

    <v-switch label="Exibir todos" v-model="showAll"></v-switch>

    <!-- <v-badge right>
      <span slot="badge">{{ items.length }}</span>
      <h3>Seções</h3>
    </v-badge>
    <v-switch
        label="Exibir Gráfico"
        v-model="showChart"
    ></v-switch> -->
<!-- 
    <p>Qtde Items: {{ items.length }} </p>
    <p>Total Salarios: {{ totalSalarios }}</p>

 -->    
    <!-- <p>{{ items }}</p> -->
    <!-- <v-btn color="success" @click="Ordenar('Secao')">Ordenar por Seção</v-btn>
    <button @click="Ordenar('Secao')" >Ordenar por Seção</button>
    <p>OrdemSecao: {{ ordemSecao }}</p>
 -->
    <table width="100%">
      <tr>
        <th :class="styleOrdem(ordemSecaoClicked)" 
            @click="Ordenar('secao')">Seções
          <template v-if="ordemSecaoClicked">
            <v-icon v-if="ordemSecao">keyboard_arrow_down</v-icon>
            <v-icon v-else>keyboard_arrow_up</v-icon>
          </template>  
        </th>
        <th :class="styleOrdem(ordemQtdeClicked)" 
            @click="Ordenar('qtdeServidor')">Servidor(es)
            <template v-if="ordemQtdeClicked">
              <v-icon v-if="ordemQtde">keyboard_arrow_down</v-icon>
              <v-icon v-else>keyboard_arrow_up</v-icon>
            </template>
        </th>
        <th :class="styleOrdem(ordemTotalSalBrutoClicked)" 
            @click="Ordenar('totalSalBruto')">Total Sal. Bruto
            <template v-if="ordemTotalSalBrutoClicked">
              <v-icon v-if="ordemTotalSalBruto">keyboard_arrow_down</v-icon>
              <v-icon v-else>keyboard_arrow_up</v-icon>
          </template>
        </th>
        <!-- <th :class="styleOrdem(ordemPercClicked)" 
            @click="Ordenar('percentual')">Perc.(%)
        </th> -->
        <th>Perc.(%)</th>
      </tr>
      <tr v-for="item in items.slice(0,top)">
        <td align="left">{{ item.secao }}</td>
        <td align="right">{{ item.qtdeServidor }}</td>
        <td align="right">{{ parseFloat(item.totalSalBruto).formatMoney(2, "", ".", ",") }}</td>
        <td align="right">{{ perSalario(totalSalarios,parseFloat(item.totalSalBruto)) }}</td>
      </tr>
    </table>
    <template v-if="showAll">
      <br>
      <v-data-table
        v-bind:headers="headers"
        :items = "items"
        hide-actions
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.secao }}</td>
          <td class="text-xs-right">{{ props.item.qtdeServidor }}</td>
          <td class="text-xs-right">{{ parseFloat(props.item.totalSalBruto).formatMoney(2, "", ".", ",") }}</td>
          <td class="text-xs-right">{{ perSalario(totalSalarios,parseFloat(props.item.totalSalBruto)) }}</td>
        </template>
      </v-data-table>
    </template>

    <template v-if="showChart">
      <br>
      <p>Exibir Gráfico</p>
      <app-commit-chart :pDados="items.slice(0,top)"></app-commit-chart>
    </template>

  </div>
</template>

<script>
  
  Number.prototype.formatMoney = function(places, symbol, thousand, decimal) {
    places = !isNaN(places = Math.abs(places)) ? places : 2;
    symbol = symbol !== undefined ? symbol : "$";
    thousand = thousand || ",";
    decimal = decimal || ".";
    var number = this, 
      negative = number < 0 ? "-" : "",
      i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
      j = (j = i.length) > 3 ? j % 3 : 0;
    return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
  };

  import CommitChart from './CommitChart'

  export default {
    
    props: ['items','top'],

    components: {
      appCommitChart: CommitChart
    },


    data () {

      return {
      
        headers: [
          {
            text: 'Seções',
            align: 'left',
//            sortable: false,
            value: 'secao'
          },
          { text: 'Qtde Servidor(es)', value: 'qtdeServidor' },
          { text: 'Totais Salário Bruto', value: 'totalSalBruto' },
          { text: 'Perc. (%)', value: 'secao' },
        ], 

        //ordem: ['ordemSecao', 'ordemQtde', 'ordemTotalSalBruto', 'ordemPerc'],

        ordemSecao: true, // Default
        ordemQtde: false,
        ordemTotalSalBruto: false,
        ordemPerc: false,

        ordemSecaoClicked: true, // Default
        ordemQtdeClicked: false,
        ordemTotalSalBrutoClicked: false,
        ordemPercClicked: false,

        showAll: false,
        showChart: false

      }

    },

    computed: {

      totalSalarios: function() {

//        console.log('*** Calculando Total Salarios ***');

        var total = 0;

        for (var i = 0; i < this.items.length; i++ ) {
          total += parseFloat(this.items[i].totalSalBruto);
        }

//        console.log('Resultado: ' + total);

        return total;
        
      }

    },

    methods: {

      perSalario: function(vlTotal, vlParcial) {
        
        var percentual = 0;

        percentual = parseFloat((vlParcial / vlTotal) * 100).toFixed(2)

        return isNaN(percentual)? 0 : percentual;

      },

      Ordenar: function(val) {
        
        console.log('Setar Ordem por:' + val);

        switch (val)
        {
          case 'secao':
            
            if (!this.ordemSecao) {
              this.items.sort(function (a, b) {
                if (a.secao > b.secao) {
                  return 1;
                }
                if (a.secao < b.secao) {
                  return -1;
                }
                // a must be equal to b
                return 0;
              });

            } else {
              this.items.reverse();
            }

            this.ordemSecao         = ! this.ordemSecao
            this.ordemQtde          = false
            this.ordemTotalSalBruto = false
            this.ordemPerc          = false

            this.ordemSecaoClicked         = true
            this.ordemQtdeClicked          = false
            this.ordemTotalSalBrutoClicked = false
            this.ordemPercClicked          = false

            break;
            
          case 'qtdeServidor':
            
            if (!this.ordemQtde) {
              this.items.sort(function (a, b) {
                if (a.qtdeServidor > b.qtdeServidor) {
                  return 1;
                }
                if (a.qtdeServidor < b.qtdeServidor) {
                  return -1;
                }
                // a must be equal to b
                return 0;
              });

            } else {
              this.items.reverse();
            }

            this.ordemSecao         = false
            this.ordemQtde          = ! this.ordemQtde
            this.ordemTotalSalBruto = false
            this.ordemPerc          = false          

            this.ordemSecaoClicked         = false
            this.ordemQtdeClicked          = true
            this.ordemTotalSalBrutoClicked = false
            this.ordemPercClicked          = false

            break;

          case 'totalSalBruto':

            if (!this.ordemTotalSalBruto) {
              this.items.sort(function (a, b) {
                if (a.totalSalBruto > b.totalSalBruto) {
                  return 1;
                }
                if (a.totalSalBruto < b.totalSalBruto) {
                  return -1;
                }
                // a must be equal to b
                return 0;
              });

            } else {
              this.items.reverse();
            }

            this.ordemSecao         = false
            this.ordemQtde          = false
            this.ordemTotalSalBruto = ! this.ordemTotalSalBruto
            this.ordemPerc          = false       

            this.ordemSecaoClicked         = false
            this.ordemQtdeClicked          = false
            this.ordemTotalSalBrutoClicked = true
            this.ordemPercClicked          = false

            break;

          case 'percentual':
            break;

          default:
            break;
        }

      },

      styleOrdem: function(val) {
        if (val) {
          return 'checked';
        } else {
          return 'normal';
        }
      }

    }

  }
</script>

<style scoped>

  table {
    border-collapse: collapse;
  }

  table, td, th {
    /*border: 1px solid black;*/
    border: 1px solid #E0E0E0;
  }

  th {
    background-color: #00BCD4;
  }

  tr:hover {
    background-color: #E0E0E0;
    /*background-color: #f5f5f5;*/
  }

  .checked {
    background-color: #2196F3;
    /*border-color: */
  }

  .normal {
    background-color: none;
  }
</style>