<template>
  <div id="app">
    <v-app>
      <!-- <v-toolbar fixed app :clipped-left="clipped"> -->
      <v-toolbar fixed app>
        <!-- <v-toolbar-title>PRODAM</v-toolbar-title> -->
        <v-toolbar-title><img src="http://www.prodam.am.gov.br/wp-content/themes/prodam2011.01/images/spacer.gif" alt="Prodam Logo" id="logo"></v-toolbar-title>
        <!-- <v-toolbar-title><img id="logoGov1" src="http://www.prodam.am.gov.br/wp-content/themes/prodam2011.01/images/logoGov2.jpg"/></v-toolbar-title> -->
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>more_vert</v-icon>
        </v-btn>
      </v-toolbar>      
      <v-content>
        <!-- <v-container grid-list-md text-xs-center> -->
        <v-container grid-list-md>
          <v-layout row wrap>
            <!-- <v-flex xs12>
              <v-card>
                <v-card-text class="px-0">
                   <v-btn color="primary" @click="calcularTotais()">Calcular Resumo</v-btn>
                 </v-card-text>
              </v-card>
            </v-flex> -->
            <v-flex xs3>
              <app-menu-principal @set-selec-component="setSelectComponent"></app-menu-principal>
              <!-- <v-card>
                <v-card-text class="px-0"> -->
                  <!-- <v-btn color="primary" @click="isSelectComponent='appListServidor'">Servidores</v-btn>
                  <v-btn color="primary" @click="isSelectComponent='appListGrafico'">Gráficos</v-btn> -->
                  
                  <!-- <p>Total Salários Bruto..: {{ resumo.SALARIOBRUTO }}  </p>
                  <p>Total Descontos.......: {{ resumo.DESCONTOS }}     </p>
                  <p>Total Salários Líquido: {{ resumo.SALARIOLIQUIDO }}</p> -->
                <!-- </v-card-text>
              </v-card> -->
            </v-flex>
            <v-flex xs9>
              <keep-alive>
                <component :is="isSelectComponent" :items="tbDados">
                  <!-- <app-list-servidor :items="tbDados"></app-list-servidor> -->
                </component>
              </keep-alive>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>

  Number.prototype.formatMoney = function(places, symbol, thousand, decimal) {
    places = !isNaN(places = Math.abs(places)) ? places : 2;
    symbol = symbol !== undefined ? symbol : "$";
    thousand = thousand || ",";
    decimal = decimal || ".";
    var number = this, 
      negative = number < 0 ? "-" : "",
      i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
      j = (j = i.length) > 3 ? j % 3 : 0;
    return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
  };

  var dataURL = 'dados.json';

  import MenuPrincipal from './components/menuPrincipal.vue';
  import ListServidor from './components/listServidor.vue';
  import ListGraficos from './components/listGraficos.vue';
  import listPropostas from './components/listPropostas.vue';

  export default {
  
    name: 'app',

    data () {

      return {

        isSelectComponent: 'appListPropostas', //'appListServidor',
          
        tbDados: [],
          
        resumo: {
            SALARIOBRUTO: 0,
            DESCONTOS: 0,
            SALARIOLIQUIDO: 0
        }

      };

    },

    components: {
        appMenuPrincipal: MenuPrincipal,
        appListServidor: ListServidor,
        appListGrafico: ListGraficos,
        appListPropostas: listPropostas
    },

    mounted: function() {

      // Setando a Tabela de Dados         
      var self = this

      $.getJSON(dataURL, function(data) {
          self.tbDados = data;
      })

    },

    methods: {

      setSelectComponent(val) {
        this.isSelectComponent = val;
      },

      calcularTotais() {
        
        var vlTotalSalBruto     = 0;
        var vlTotalSalDescontos = 0;
        var vlTotalSalLiquido   = 0;
        var tabela = this.tbDados;
        var objeto = null;

        for(var i = 0; i < tabela.length; i++) {

          objeto = this.tbDados[i];

          vlTotalSalBruto     += objeto.SALARIOBRUTO;
          vlTotalSalDescontos += objeto.DESCONTOS;
          vlTotalSalLiquido   += objeto.SALARIOLIQUIDO;
          
        }

        this.resumo.SALARIOBRUTO    = vlTotalSalBruto.formatMoney(2, "R$ ", ".", ",");
        this.resumo.DESCONTOS       = vlTotalSalDescontos.formatMoney(2, "R$ ", ".", ",");
        this.resumo.SALARIOLIQUIDO  = vlTotalSalLiquido.formatMoney(2, "R$ ", ".", ",");

         return true;
      }

    }

}

</script>

<style scoped>

</style>
